@import "libs/variables";
@import "libs/reset";
@import "libs/mixins";
@import "libs/polices";
@import "communs/header_menu";
@import "communs/footer";
@import "communs/formulaire";
@import "communs/overlay";
@import "pages/listItem";

.APP {
  background: linear-gradient(
  60deg,
  rgba(241, 241, 241, 1) 0%,
  rgba(61, 133, 245, 1) 20%,
  rgba(61, 133, 245, 1) 80%,
  rgba(51, 51, 51, 1) 100%
);
  color: $noir;
  min-height: 100vh;
  position: relative;
  // max-width: 1440px;
  margin: 0 auto;
  border-bottom: 1px solid transparent;
  display: flex;
  flex-direction: column;
}

.bodyContent {
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
  border : 1px $noir dashed;
  flex-grow: 1;
  
}
